version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    container_name: backend

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    container_name: frontend
    depends_on:
      - backend
